@using WebSiteBanHang.Models;

@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <h1 style="color:#000;">Giỏ hàng trống!</h1>
}
else
{
    <table class="table">
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>Đơn giá</td>
            <td>Số lượng</td>
            <td>Thành tiền</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td><img src="@Url.Content("~/Content/HinhAnhSP/" + item.HinhAnh)" width="50" height="50" /></td>
                <td>@item.DonGia.ToString("#,##") đồng</td>
                <td>@item.SoLuong</td>
                <td>@item.ThanhTien.ToString("#,##") đồng</td>
                <td>
                    @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.MaSP })
                @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.MaSP })
            </td>

        </tr>

        }
    </table>


    using (Html.BeginForm("DatHang", "GioHang"))
    {
        if (Session["TaiKhoan"] == null)
        {
            <div class="ThongTinMuaHang">
                <table align="center" class="table">
                    <tr>
                        <td align="center" colspan="2"><b>Thông tin khách hàng</b></td>

                    </tr>
                    <tr>
                        <td>Họ tên</td>
                        <td>
                            @Html.TextBox("TenKH")
                            <p style="color:red;" id="TB_TenKH"></p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Địa chỉ
                        </td>
                        <td>
                            @Html.TextArea("DiaChi")
                            <p style="color:red;" id="TB_DiaChi"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            @Html.TextBox("Email")
                            <p style="color:red;" id="TB_Email"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>Điện thoại</td>
                        <td>@Html.TextBox("SoDienThoai")</td>
                    </tr>
                    <tr></tr>
                </table>
            </div>
        }
        <div class="divDatHang" style="text-align:right;">
            <input type="submit" value="Đặt hàng" class="btn btn-danger" id="btnDatHang" />
            @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
        </div>
    }
}

}

<script>
    $("#btnDatHang").click(function () {
        var loi = 0;
        if ($("#TenKH").val() == "") {
            $("#TB_TenKH").text("Tên kh không được bỏ trống");
            loi++;
        }
        else {
            $("#TB_TenKH").text("");
        }

        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("Tên kh không được bỏ trống");
            loi++;
        }
        else {
            $("#TB_DiaChi").text("");
        }
        var loi;
        dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]*@@[\w\d.]+\.\w{2,4}$/;
        KTemail = dinhdang.test($('#Email').val());
        if (!KTemail) {
            $('#TB_Email').text("Email không hợp lệ !");
            loi++;
        }
        if (loi != 0) {
            //Ngăn sự kiện submit đến server
            @ViewBag.ThongBao
            return false;
        }

    });


</script>

<style>
    input[type="submit"] {
        padding: 7px;
        margin: 0;
    }
</style>

