<!DOCTYPE html>

<html>

<head>
    <title>Ăn Vặt Mọi Lúc, Giao Hàng Mọi Nơi</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet" type="text/css"><!--//fonts-->
    <!-- start menu -->
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all">
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style type="text/css">
        .btn-top {
    @*background-image: url(../img/btn_top.png);*@
    background-repeat: no-repeat;
    background-color:#808080;
    border: 3px solid #808080;
    bottom: 20px;
    cursor: pointer;
    display: none;
    width: 50px;
    height: 70px;
    padding: 0;
    position: fixed;
    right: 20px;
    text-align:center;
    color:#e8ae24;
}
        .btn-top:hover{
            text-decoration: none;
            color: red;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            if ($(".btn-top").length > 0) {
                $(window).scroll(function () {
                    var e = $(window).scrollTop();
                    if (e > 300) {
                        $(".btn-top").show()
                    } else {
                        $(".btn-top").hide()
                    }
                });
                $(".btn-top").click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    })
                })
            }
        });
    </script>
</head>

<body >
    <div class="header">
        @Html.Partial("~/Views/Layout/HeaderTopPartital.cshtml")
        <div class="footer"> <a class="btn-top" href="javascript:void(0);" title="Top" style="display: inline;">Lên Đầu Trang</a> </div>      
        <div class="container" >
            <div class="head-top">
                <div class="logo">
                   @*Link trang chủ*@
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo.png" alt="" width="150px" height="50px"></a>
                </div>
                @Html.Action("MenuPartial","Home")
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>

    <div class="banner" style="width:100%; height:460px;"><img style="width:100%;" src="~/Content/images/nen1.jpg" />
        <div class="container">
            <script src="~/Content/js/responsiveslides.min.js"></script>
            <script>
                $(function () {
                    $("#slider").responsiveSlides({
                        auto: true,
                        nav: true,
                        speed: 500,
                        namespace: "callbacks",
                        pager: true,
                    });
                });
            </script>
            <div id="top" class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider">
                    <li id="callbacks1_s0" class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                    </li>
                    <li id="callbacks1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">

                    </li>
                    <li id="callbacks1_s2" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;" class="">
                        

                    </li>
                </ul><a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1 callbacks_here"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3"><a href="#" class="callbacks1_s3">3</a></li></ul>
            </div>

        </div>
    </div>

    <!--content-->
    <div class="content">
        @RenderBody()
    </div>
    <!--Adds-->
    @*<div class="adv" style="display: block; position: fixed; top: 157px; left: 19px;" id="AdvestLeft">
        <a href="https://pico.vn/BannerClick.aspx?BannerId=2319" target="_blank" title="Banner left_Xả hàng" rel="nofollow"><img src="//pico.vn/Uploads/Banner/2319_left.jpg" alt="Banner left_Xả hàng"></a><div class="clear" style="margin-bottom: 5px;"></div>
    </div>*@
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>Thêm Thông Tin</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Đặt Hàng Như Thế Nào</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact.html">Vị Trí</a></li>
                        <li><a href="#">Đang Chuyển Hàng</a></li>
                        <li><a href="#">Thành Viên</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>Liên Hệ Với Chúng Tôi</h4>

                    <p>
                        Tổ 3, Khu phố 2, Tân Định, Bến Cát, Bình Dương
                    </p>
                    <p>office: 0975824272</p>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/TSMois" target="_blank"><i> </i></a></li>
                        <li><a href="https://twitter.com/hung14121995" target="_blank"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="https://plus.google.com/u/1/?hl=vi" target="_blank"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>Nhận Tin Mới Nhất</h4>
                    <p>
                        Đăng ký để có được tất cả các bản cập nhật tin tức và khuyến mãi
                    </p>
                    <form>
                        <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="Đăng Ký">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2022 Ăn Vặt Online| Design by  <a href="https://www.facebook.com/tuananh.nguyentrong.777" target="_blank">Teams</a> </p>
        </div>
        <div>
        @RenderSection("Section1",false)
        </div>
    </div>
</body>
</html>
